fieldset.nested{
  width:100%;
}
fieldset.patientList{
  width: 100%;
  margin: 10px 0px;
  border: 1px solid #666666;
}
fieldset.patientList select{
  width: 100%;
}
ul.table-layout .gray-button{
  background: #666666;
  border-color: #666666;
  color: white;
}
ul.table-layout{
  margin: 0px;
}

table #manage_condition-table{
  table-layout: fixed;
}

table #manage_condition-table th:first-child, td:first-child{
  width: 100%;
}

table #manage_condition-table th, td{
  width: 40%;
}

.main-content .status-container{
  margin: 5px 6px !important;
}
.capitalize {
  text-transform: capitalize;
}
fieldset.nested{
  width:100%;
}

.legendHeader legend {
    font-size: 16px;
    width: 190px;
    color: #00463f;
    text-transform: none;
    font-weight: bold;
    margin-bottom: 0px;
}
