fieldset.nested{
  width:100%;
}
fieldset.patientList{
  width: 100%;
  margin: 10px 0px;
  border: 1px solid #666666;
}
fieldset.patientList select{
  width: 100%;
}
ul.table-layout .gray-button{
  background: #666666;
  border-color: #666666;
  color: white;
}
ul.table-layout{
  margin: 0px;
}

table.manage-condition-table{
  table-layout: fixed;
}

table.manage-condition-table th:first-child, td:first-child{
  width: 40%;
}

table.manage-condition-table th, td{
  width: 40%;
}
